@(taskForm: Form[Task])

@import helper._

@main("Todo list") {
           
  
<div class="container">


    
    <h2>Add a new task</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label")) 
		@textarea(field = taskForm("description"), args = 'rows -> 3, 'cols -> 50)
        
        <input type="submit" value="Create">
        <input type="button" value="Back to homepage" onclick="location.href =
'@routes.Application.tasks';">
		

   
    }
</div> 
    
}