@(tasks: List[Task])

@import helper._

@main("Todo list") {

<div class="container">
	
	<div class="jumbotron">
	
			<p><br>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			<p><a class="btn btn-primary btn-lg" href="@routes.Application.newTask" role="button">+ Add a task &raquo;</a></p>

		<h1>@tasks.size() task(s)</h1>
	</div>        
</div>        
<div class="container">

	<div class="row">
	@for(task <- tasks) {
		<div class="col-md-4">
		  <h2>@task.label</h2>
		  <p>@task.description</p>
		  <p><a class="btn btn-default" href="@routes.Application.viewTask(task.id)" role="button">View details &raquo;</a> <a class="btn btn-default" href="@routes.Application.viewJson(task.id)" role="button">JSON</a></p>
		  @form(routes.Application.deleteTask(task.id)) {
                    <input type="submit" value="Delete">
                }
		</div>
	}

	</div>

</div>       
  
    
}