@(task: Task) 
@import helper._

@main("Todo list") {
<div class="container">

	<div class="row">
		<div class="jumbotron">
				<h1>@task.label</h1>
				<p>@task.description</p>
				<p>
				
				  <a class="btn btn-lg btn-success" href="@routes.Application.tasks" role="button">Back to homepage</a>
				  <a class="btn btn-lg btn-primary" href="@routes.Application.deleteTask(task.id)" role="button">Delete</a>
				</p>
		</div>       
	</div>      
</div>      
    }
    